*.sublime-build
*.sublime-workspace
.DS_Store
.project
.settings/
.sublime-project
.tm_properties
Referenced Packages/
build.properties
buildx.xml
config/
salesforce.schema
target/
temp/

apex-toolingapi/.settings/
apex-toolingapi/Referenced Packages/
apex-toolingapi/salesforce.schema
apex-toolingapi/.DS_Store
apex-toolingapi/.project

apex-toolingapi.sublime-project

apex-toolingapi.sublime-settings

apex-scripts/log/2014-07-08-00.29.57.log
